<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <!-- Encabezado PRINCIPAL-->
        <a href="/">
            <img title="batman ecommerce" src="/img/batman.jpg" alt="Logo de batman">
        </a>
        <h1  >About us</h1>

        <form action="/">
            <input type="text">
            <button>Buscar</button>
        </form>

        <nav>
            <!-- Lista desordenada -->
            <ul>
                <li>
                    <a href="/about-us">About us</a>
                </li>

                <li>
                    <a href="/contact">Contact</a>

                </li>

            </ul>
        </nav>

        <nav>
            <!-- Lista desordenada -->
            <ul>
                <li>
                    <a href="#product">Product</a>
                </li>

                <li>
                    <a href="#">Crea tu cuenta</a>
                </li>

                <li>
                    <a href="#">Inicia Sesion</a>

                </li>

                
                <li>
                    <a href="https://www.google.com/" target="_blank">Ir a google</a>

                </li>

            </ul>
        </nav>


    </header>

    <hr>
</body>
</html>