<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Aca ponemos los  metadatos y enlazamos archivos necesario para la pág -->
        <meta charset="UTF-8"> <!-- Codificacion del archivo -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi ecommerce</title>
        <link rel="shortcut icon" type="image/x-icon" href="/img/joker.jpg" >
        <link rel="stylesheet" href="/css/styles.css">

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Triangles&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <!-- Encabezado PRINCIPAL-->
            <a href="/">
                <img id="logo" title="batman ecommerce" src="/img/batman.jpg" alt="Logo de batman">
            </a>
            <h1>Mi ecommerce</h1>

            <form action="/">
                <input type="text">
                <button>Buscar</button>
            </form>

            <nav>
                <!-- Lista desordenada -->
                <ul>
                    <li class="nav-item">
                        <a href="/about-us">About us</a>
                    </li>

                    <li class="nav-item">
                        <a href="/contact">Contact</a>

                    </li>

                </ul>
            </nav>

            <nav>
                <!-- Lista desordenada -->
                <ul class="list">
                    <li>
                        <a href="#product">Product</a>
                    </li>

                    <li>
                        <a href="#">Crea tu cuenta</a>
                    </li>

                    <li>
                        <a href="#">Inicia Sesion</a>

                    </li>

                    
                    <li>
                        <a href="https://www.google.com/" target="_blank">Ir a google</a>

                    </li>

                </ul>
            </nav>


        </header>

        <hr>

        <main>
            <!-- Contenido principal -->

            <section>
                <header>
                    <h2>Ultimos visitados</h2>
                </header>
                <article >
                    <header>
                        <h3>Aspiradora Ultra potente </h3>
                    </header>

                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nam corporis quisquam vel ea laudantium dolor sequi error. Itaque porro consequuntur labore voluptas minima aut nulla corrupti placeat libero id voluptate a nisi quidem dolore dignissimos reprehenderit, eveniet error optio nihil ea nam exercitationem nemo reiciendis sunt? Aperiam, obcaecati atque?</p>
                        <p> <strong>La mejor aspiradora </strong>Lorem ipsum <em> dolor sit amet </em>  consectetur <span style="color: blue">adipisicing elit. </span>  Id nostrum eos tenetur impedit eaque ullam vel modi quis placeat sed?</p>

                        <p>$8000</p>
                    </div>



                </article>
                <article  >
                    <header>
                        <h3>Aspiradora Ultra potente </h3>
                    </header>

                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nam corporis quisquam vel ea laudantium dolor sequi error. Itaque porro consequuntur labore voluptas minima aut nulla corrupti placeat libero id voluptate a nisi quidem dolore dignissimos reprehenderit, eveniet error optio nihil ea nam exercitationem nemo reiciendis sunt? Aperiam, obcaecati atque?</p>
                        <p> <strong>La mejor aspiradora </strong>Lorem ipsum <em> dolor sit amet </em>  consectetur <span style="color: blue">adipisicing elit. </span>  Id nostrum eos tenetur impedit eaque ullam vel modi quis placeat sed?</p>

                        <p>$8000</p>
                    </div>



                </article>

                <article id="product" >
                    <header>
                        <h3>Aspiradora Ultra potente </h3>
                    </header>

                    <div>
                        <p> <strong>La mejor aspiradora </strong>Lorem ipsum <em> dolor sit amet </em>  consectetur <span style="color: blue">adipisicing elit. </span>  Id nostrum eos tenetur impedit eaque ullam vel modi quis placeat sed?</p>

                        <p>$8000</p>
                    </div>



                </article>
            </section>

            <section>
                <header>
                    <h2>Los más vendidos</h2>
                </header>
                <article id="product" >
                    <header>
                        <h3>Aspiradora Ultra potente </h3>
                    </header>

                    <div>
                        <p> <strong>La mejor aspiradora </strong>Lorem ipsum <em> dolor sit amet </em>  consectetur <span style="color: blue">adipisicing elit. </span>  Id nostrum eos tenetur impedit eaque ullam vel modi quis placeat sed?</p>

                        <p>$8000</p>
                    </div>



                </article>
                <article id="product" >
                    <header>
                        <h3>Aspiradora Ultra potente </h3>
                    </header>

                    <div>
                        <p> <strong>La mejor aspiradora </strong>Lorem ipsum <em> dolor sit amet </em>  consectetur <span style="color: blue">adipisicing elit. </span>  Id nostrum eos tenetur impedit eaque ullam vel modi quis placeat sed?</p>

                        <p>$8000</p>
                    </div>



                </article>
                <article id="product" >
                    <header>
                        <h3>Aspiradora Ultra potente </h3>
                    </header>

                    <div>
                        <p> <strong>La mejor aspiradora </strong>Lorem ipsum <em> dolor sit amet </em>  consectetur <span style="color: blue">adipisicing elit. </span>  Id nostrum eos tenetur impedit eaque ullam vel modi quis placeat sed?</p>

                        <p>$8000</p>
                    </div>



                </article>
                <article id="product" >
                    <header>
                        <h3>Aspiradora Ultra potente </h3>
                    </header>

                    <div>
                        <p> <strong>La mejor aspiradora </strong>Lorem ipsum <em> dolor sit amet </em>  consectetur <span style="color: blue">adipisicing elit. </span>  Id nostrum eos tenetur impedit eaque ullam vel modi quis placeat sed?</p>

                        <p>$8000</p>
                    </div>



                </article>
                <article id="product" >
                    <header>
                        <h3>Aspiradora Ultra potente </h3>
                    </header>

                    <div>
                        <p> <strong>La mejor aspiradora </strong>Lorem ipsum <em> dolor sit amet </em>  consectetur <span style="color: blue">adipisicing elit. </span>  Id nostrum eos tenetur impedit eaque ullam vel modi quis placeat sed?</p>

                        <p>$8000</p>
                    </div>



                </article>
                <article id="product" >
                    <header>
                        <h3>Aspiradora Ultra potente </h3>
                    </header>

                    <div>
                        <p> <strong>La mejor aspiradora </strong>Lorem ipsum <em> dolor sit amet </em>  consectetur <span style="color: blue">adipisicing elit. </span>  Id nostrum eos tenetur impedit eaque ullam vel modi quis placeat sed?</p>

                        <p>$8000</p>
                    </div>



                </article>
            </section>

        </main>

        <footer>
            <!-- Información referida a la página pero que no tiene que ver con el contenido principal -->
            Copyright &copy;    
        </footer>
        
    </body>
</html>




    <!-- <h1>Estas en la HOME</h1> -->