*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    background: rgba(5, 152, 249, 0.479) ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.header-top{
    width: 100%;
    border-bottom: 1px  solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.top{
    padding: 10px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img#logo{
    width: 40px;
}

.header-bottom{
    display: none;
}

.top > form#search{
    background-color: white;
    display: flex;
    height: 20px;
}

form#search >  input{
    width: 100px;
    height: 20px;
    outline: none;
    border: 1px solid transparent;
    padding: 10px 5px;
}

form#search >  button{
    outline: none;
    height: 20px;
    width: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid transparent;
    border-left: 1px  solid lightgrey;

    display: flex;
    justify-content: center;
    align-items: center;
}

button > .fa-magnifying-glass{
    color: rgb(145, 145, 145);
    font-size: 10px;
}

a{
    color: black;

}

a:visited{
    color: black;

}
/* main */


main{
    width: 100%;
    max-width: 100vw;
    background-color: rgb(235, 234, 234);
}

section{
    width: 85%;
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.articles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 5px;
}



article{
    background-color: white;
    width: 250px;
    padding: 15px;
    position: relative;

    display: flex;
    flex-direction: column;
}

.fa-heart{
    position: absolute;
    top: 10px;
    right: 10px;
}

article > img.img-product{
    width: 100px;
    margin: auto;
}

.header-section{
    margin: 10px 0px;
}

h2{
    font-weight: 600;
}

.product-title{
    font-weight: 300;
    font-size: 16px;
}

.description{
    display: none;
}

.shipping{
    color: rgb(125, 196, 18);
}

.price{
    font-size: 24px;
    font-weight: 600;
}

/* Footer */
footer{
    background-color: white;
    height: 50px;
    text-align: center;
    padding: 10px 0px;
}

@media (min-width: 768px){
    i{
        font-size: 1.3em;
    }
    section{
        align-items: flex-start;
    }

    .articles{
        justify-content: flex-start;
    }

    form#search >  input{
        width: 200px;
    }


}

@media (min-width: 1024px) {
    .header-top {
        display: flex;
        flex-direction: column;
    }

    .top{
        width: 100%;
        padding: 10px 50px;
        display: flex;
        justify-content: space-between;
    }
    .header-top > nav{
        display: block;
    }

    .menu-bars{
        display: none;
    }

    .header-bottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    nav{
        padding: 10px 0px;
        background-color: aliceblue;
        width: 50%;
    }

    ul{
        list-style: none;
        display: flex;
        justify-content: center;
    }

    li{
        padding: 5px;
        margin-left: 15px;
        transition:  background-color, 1s;
    }

    li:hover{
        background-color: rgba(5, 152, 249, 0.479);
    }

    a{
        color: black;
        text-decoration: none;
    }

    a:visited{
        color: purple;
    }

    article{
        cursor: pointer;
        transition: box-shadow, .5s, scale,.5s;
    }

    article:hover{
        box-shadow: 2px 4px 43px -3px rgba(186,185,185,0.75);
        -webkit-box-shadow: 2px 4px 43px -3px rgba(186,185,185,0.75);
        -moz-box-shadow: 2px 4px 43px -3px rgba(186,185,185,0.75);
        scale: 1.02;
    }

  }
  




